<script lang="ts">
	import { goto } from '$app/navigation';
	import type { Order } from '../../models/order';
	import type { Seat } from '../../models/show';
    import { toast } from '@zerodevx/svelte-toast'

	export let showId: number;
	export let seats: Seat[];
	let name = '';
	let email = '';

	async function confirmOrder() {
		const order: Order = {
			showId,
			name,
			email,
			seats
		};
		const res = await fetch('/order/create.json', {
			method: 'POST',
			headers: {
				Accept: 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(order)
		});
        if (res.status === 200 || res.status === 201){
            goto('/order/success');
        } else {
            toast.push('Some error has occured')
        }
	}
</script>

<form on:submit|preventDefault={confirmOrder}>
	<div class="card bordered">
		<div class="card-body">
			<h2 class="card-title">Enter your information</h2>
			<div class="flex flex-col max-w-5xl">
				<div class="form-control">
					<label for="name" class="label">
						<span class="label-text">Your name</span>
					</label>
					<input id="name" bind:value={name} type="text" class="input input-bordered" required />
				</div>
				<div class="form-control">
					<label for="email" class="label">
						<span class="label-text">Your email</span>
					</label>
					<input id="email" bind:value={email} type="email" class="input input-bordered" required />
				</div>
			</div>
			<div class="card-actions">
				<button type="submit" class="btn btn-primary">Confirm Order</button>
			</div>
		</div>
	</div>
</form>
