<script lang="ts">
	import type { Seat } from '../../models/show';
	import SelectedSeat from '../Show/SelectedSeat.svelte';

	export let seats: Seat[];
</script>

<div class="card lg:card-side bordered">
	<div class="card-body">
		<h2 class="card-title">Your seats</h2>
		<div class="flex flex-col md:flex-row flex-wrap">
			{#each seats as seat, i}
				<SelectedSeat index={i + 1} {seat} />
			{/each}
		</div>
		<p>
			Total price: <span class="big-number"
				>{seats.map((s) => s.price).reduce((s1, s2) => s1 + s2)}&#8372;</span
			>
		</p>
	</div>
</div>
