<script>
	import Loader from '../components/Loader.svelte';
	import '../app.css';
	import { loader } from '../stores/loader';
	import Menu from '../components/Menu.svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast'
</script>

<Loader width={$loader} />
<Menu />
<div class="p-8">
	<slot />
</div>

<SvelteToast />