<script context="module" lang="ts">
	import type { Load } from '@sveltejs/kit';
	import type { Film } from '../models/film';
	import { get } from '../utils';
	import { loader } from '../stores/loader';
	import Filter from '../components/Filter.svelte';
	import FilmCard from '../components/Film/FilmCard.svelte';
	import type { PagedResponse } from '../models/pagedResponse';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	export const load: Load = async ({ fetch, page }) => {
		loader.set(33);
		const response = await get<PagedResponse<Film>>(fetch, `films.json?${page.query}`);
		const pageNum = page.query.get('page') ? parseInt(page.query.get('page')) : 1;
		loader.set(100);
		return {
			props: { films: response.body, total: response.total, pageNum }
		};
	};
</script>

<script lang="ts">
	export let pageNum: number;
	export let total: number;
	export let films: Film[];

	function changePage(newPage: number) {
		let params = new URLSearchParams($page.query.toString());
		params.set('page', newPage.toString());
		goto('/films?' + params.toString());
	}
</script>

<Filter />
<div class="flex flex-wrap justify-around">
	{#each films as film}
		<FilmCard {film} />
	{/each}
</div>
<div class="btn-group justify-center">
	{#if pageNum > 1}
		<button on:click={(_) => changePage(pageNum - 1)} class="btn btn-outline w-24">Previous</button>
	{/if}
	{#if pageNum * 10 < total}
		<button on:click={(_) => changePage(pageNum + 1)} class="btn btn-outline w-24">Next</button>
	{/if}
</div>
