<script context="module" lang="ts">
	import type { Load } from '@sveltejs/kit';
	import type { Film } from '../models/film';
	import { get } from '../utils';
	import { loader } from '../stores/loader';

	export const load: Load = async ({ fetch, page }) => {
		loader.set(33);
		const sliderFilms = await get<Film[]>(fetch, 'slider.json');
		loader.set(66)
		const featuredFilms = await get<Film[]>(fetch, 'featuredFilms.json');
		loader.set(100);
		return {
			props: { sliderFilms, featuredFilms }
		};
	};
</script>

<script lang="ts">
	import Carousel from '../components/Carousel.svelte';
	import FilmCard from '../components/Film/FilmCard.svelte';

	export let sliderFilms: Film[];
	export let featuredFilms: Film[];
</script>

<Carousel films={sliderFilms} />
<h2 class="text-center text-2xl font-bold">Today in our cinema</h2>
<div class="flex flex-wrap justify-around">
	{#each featuredFilms as film}
		<FilmCard {film} />
	{/each}
</div>
<div class="btn-group justify-center">
	<a href="/films" class="btn btn-primary mx-auto w-100">View More</a>
</div>
