<script lang="ts">
	export let type: string;
	export let label: string;
	export let onChange: (
		e: Event & {
			currentTarget: EventTarget & HTMLInputElement;
		}
	) => void;
</script>

<label><input class={type} {type} on:change={onChange} /> {label}</label>
