<script lang="ts">
	import type { Seat } from '../../models/show';

	export let index: number;
	export let seat: Seat;
</script>

<div class="card-decoration card-layout">
	<p class="text-xl font-bold">{index}.</p>
	<div class="flex flex-col mx-2 w-full">
		<p class="row"><span>Row</span> <span class="big-number">{seat.row}</span></p>
		<p class="row"><span>Seat</span> <span class="big-number">{seat.seat}</span></p>
		<p class="row"><span>Price</span> <span class="big-number">{seat.price}&#8372;</span></p>
	</div>
</div>

<style>
	.card-decoration {
		@apply border-solid border-2 rounded-md border-blue-500;
	}

    .card-layout {
        @apply p-2 flex items-center mr-2 mb-2;
    }

    .row {
        @apply flex justify-between items-baseline;
    }

	:global(.big-number) {
		@apply text-2xl font-bold mx-2;
	}
</style>
