<script lang="ts">
	import type { Show, Technology } from '../../models/show';
	import { groupBy } from '../../utils';
	import TimeButton from './TimeButton.svelte';
	import dayjs from 'dayjs';
	import qs from 'qs';
	import type { ShowFilter } from '../../services/shows_repository';
	import LabeledInput from './LabeledInput.svelte';
	import Hero from '../Hero.svelte';

	export let filmId: string | number;

	let filter: ShowFilter = { technologies: [] };
	$: showings = (async () => {
		const response = await fetch(`${filmId}.shows?${qs.stringify(filter)}`);
		const data = await response.json();
		const showings = data.map((s) => {
			return { ...s, time: dayjs(s.time) };
		}) as Show[];
		return groupBy(showings, (s) => s.time.format('MMMM D'));
	})();

	const onTechnologyCheck = (checked: boolean, tech: Technology) => {
		let technologies: Technology[];
		if (checked) technologies = [...filter.technologies, tech];
		else technologies = filter.technologies.filter((t) => t !== tech);
		filter = { ...filter, technologies };
	};
</script>

<div class="flex flex-col md:flex-row min-h-[50vh]">
	<aside class="w-72 m-4">
		<h3 class="text-2xl">Filters:</h3>
		<div class="flex flex-row md:flex-col">
			<div class="flex flex-col">
				<h4 class="text-lg">Technology</h4>
				<LabeledInput
					label="2D"
					type="checkbox"
					onChange={(e) => onTechnologyCheck(e.currentTarget.checked, '2D')}
				/>
				<LabeledInput
					label="3D"
					type="checkbox"
					onChange={(e) => onTechnologyCheck(e.currentTarget.checked, '3D')}
				/>
				<LabeledInput
					label="IMAX"
					type="checkbox"
					onChange={(e) => onTechnologyCheck(e.currentTarget.checked, 'IMAX')}
				/>
			</div>
		</div>
	</aside>
	{#await showings}
		<div class="btn m-auto loading">Loading</div>
	{:then groupedShows}
		{#if groupedShows.size > 0}
			<div class="flex-grow">
				{#each [...groupedShows.keys()] as date}
					<h3 class="text-2xl my-4">{date}</h3>
					<div class="flex">
						{#each [...groupedShows.get(date)] as show}
							<TimeButton {show} />
						{/each}
					</div>
				{/each}
			</div>
		{:else}
			<Hero title="Oops" text="We couldn't find shows that match current criteria" />
		{/if}
	{:catch}
		<Hero title="Error" text="Could not load schedule" />
	{/await}
</div>
