<script lang="ts">
	import type { Show } from '../../models/show';

	export let show: Show;
</script>

<div class="flex flex-col w-18 justify-center mr-4">
	<a href={`/show/${show.id}`} class="btn">{show.time.format('HH:mm')}</a>
	<p class="text-center">{show.technology}</p>
</div>
