<script lang="ts">
	import type { Comment } from '../../models/comment';
	export let comments: Comment[];
</script>

{#if comments.length > 0}
	<h3 class="text-2xl text-bold text-center">Comments</h3>

	{#each comments as comment}
		<div class="card bordered">
			<div class="card-body">
				<p class="text-xl font-bold">{comment.author}</p>
				<div class="divider" />
				<p>{comment.text}</p>
			</div>
		</div>
	{/each}
{/if}
