<script lang="ts">
	import { createEventDispatcher } from 'svelte';
    import { toast } from '@zerodevx/svelte-toast'
	import type { Comment } from '../../models/comment';

	export let filmId: number;

	let author = '';
	let text = '';

	const dispatch = createEventDispatcher();

	async function postComment() {
		const comment: Comment = { author, text };
		const res = await fetch(`/film/${filmId}.comments`, {
			method: 'POST',
			headers: {
				Accept: 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(comment)
		});
		if (res.status === 200 || res.status === 201) {
			author = '';
			text = '';
			dispatch('post');
		} else {
			toast.push('Some error has occured');
		}
	}
</script>

<form on:submit|preventDefault={postComment}>
	<div class="card bordered">
		<div class="card-body">
			<h2 class="card-title">Post Comment</h2>
			<div class="flex flex-col max-w-5xl">
				<div class="form-control">
					<label for="author" class="label">
						<span class="label-text">Your name</span>
					</label>
					<input
						id="author"
						bind:value={author}
						type="text"
						class="input input-bordered"
						required
					/>
				</div>
				<div class="form-control">
					<label for="text" class="label">
						<span class="label-text">Comment</span>
					</label>
					<textarea id="text" bind:value={text} class="input input-bordered" required />
				</div>
			</div>
			<div class="card-actions">
				<button type="submit" class="btn btn-primary">Add Comment</button>
			</div>
		</div>
	</div>
</form>
