<script lang="ts">
	import type { Film } from '../../models/film';

	export let film: Film;
</script>

<div class="card shadow-xl image-full w-[300px] h-[300px] m-4">
	<figure class="w-[300px] h-[300px]">
		<img class="object-cover" src="{film.poster}" alt='{film.title}'>
	</figure>
	<div class="justify-end card-body">
		<h2 class="card-title">{film.title}</h2>
		<p>{film.year}</p>
		<p>{film.ageRating}+</p>
		<div class="card-actions">
			<a href='/film/{film.id}' class="btn btn-primary">Get Ticket</a>
		</div>
	</div>
</div>
