<script lang="ts" context="module">
	import type { Load } from '@sveltejs/kit';
	import type { Film } from '../../models/film';
	import { loader } from '../../stores/loader';
	import { get } from '../../utils';

	export const load: Load = async ({ fetch, page }) => {
		loader.set(33);
		const film = await get<Film>(fetch, `${page.params.id}.json`);
		const comments = await get<Comment>(fetch, `${page.params.id}.comments`);
		loader.set(100);
		return {
			props: { film, comments }
		};
	};
</script>

<script lang="ts">
	import Comments from '../../components/Film/Comments.svelte';
	import Shows from '../../components/Show/Shows.svelte';
	import { invalidate } from '$app/navigation';
	import type { Comment } from '../../models/comment';
	import CommentForm from '../../components/Film/CommentForm.svelte';

	export let film: Film;
	export let comments: Comment[];
</script>

<div class="card bordered shadow-lg">
	<img class="h-[50vh] w-full object-cover" src={film.poster} alt={film.title} />
	<div class="card-body">
		<h2 class="card-title text-2xl md:text-6xl">{film.title}</h2>
		<p class="md:text-2xl flex justify-between"><span>{film.year}</span><span>{film.ageRating}+</span></p>
	</div>
</div>

<Shows filmId={film.id} />

<Comments {comments} />
<CommentForm filmId={film.id} on:post={(_) => invalidate(`${film.id}.comments`)} />
