<div class="hero min-h-screen bg-base-200">
	<div class="text-center hero-content">
		<div class="max-w-md">
			<h1 class="mb-5 text-5xl font-bold">Order confirmed!</h1>
			<p class="mb-5">You can now go to the home page, if you want to</p>
			<a href="/" class="btn btn-primary">Home</a>
		</div>
	</div>
</div>
