<script lang="ts">
	import Carousel from '@beyonk/svelte-carousel';
	import type { Film } from '../models/film';
	export let films: Film[];
</script>

<div class="m-4">
	<Carousel perPage={1} draggable={false} autoplay={5000} duration={500}>
		<span class="control" slot="left-control">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="white"
			>
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M15 19l-7-7 7-7" />
			</svg>
		</span>
		{#each films as film}
			<a href={`/film/${film.id}`}>
				<div class="slide-content w-full h-[33vh] relative">
					<img class="w-full h-full object-cover rounded-xl" src={film.poster} alt={film.title} />
					<p class="absolute bottom-2 left-2 text-white text-4xl">{film.title}</p>
				</div>
			</a>
		{/each}
		<span class="control" slot="right-control">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="white"
			>
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
			</svg>
		</span>
	</Carousel>
</div>
