<script lang="ts">
	import { page } from '$app/stores';
	import qs from 'qs';
	import { goto } from '$app/navigation';
	import { filterEmpty } from '../utils';

	$: search = $page.query.get('search') ?? '';
	$: sort = $page.query.get('sort') ?? '';
	$: ageRating = $page.query.get('ageRating') ?? '';

	function onFilterUpdate() {
		const params = {
			page: 1,
			search,
			sort,
			ageRating
		};
		goto('/films?' + qs.stringify(filterEmpty(params)));
	}
</script>

<form on:submit|preventDefault on:change={onFilterUpdate}>
	<div class="flex flex-col md:flex-row">
		<label class="mx-4 my-2 w-50"
			>Sort:
			<select class="select select-bordered select-primary" bind:value={sort}>
				<option value="">None</option>
				<option value="title asc">Title (Ascending)</option>
				<option value="title desc">Title (Descending)</option>
				<option value="year asc">Year (Ascending)</option>
				<option value="year desc">Year (Descending)</option>
			</select>
		</label>
		<label class="mx-4 my-2 w-50"
			>Ages:
			<select class="select select-bordered select-primary" bind:value={ageRating}>
				<option value="">All films</option>
				<option value="0">0+</option>
				<option value="13">13+</option>
			</select>
		</label>
		<div class="form-control my-2 ml-4 mr-4 md:ml-auto">
			<input
				class="input input-bordered"
				type="search"
				placeholder="Search"
				value={search}
				on:input={(e) => (search = e.currentTarget.value)}
			/>
		</div>
	</div>
</form>
