<script lang="ts">
    export let title: string;
    export let text: string;
</script>

<div class="hero">
    <div class="text-center hero-content">
        <div class="max-w-md">
            <h4 class="mb-5 text-5xl font-bold">{title}</h4>
            <p class="mb-5">{text}</p>
            <slot></slot>
        </div>
    </div>
</div>