<script lang="ts">
	import { onMount } from 'svelte';
	import { browser } from '$app/env';

	export let lat: number;
	export let lon: number;

	onMount(async () => {
		if (browser) {
			const leaflet = await import('leaflet');

			const map = leaflet.map('map').setView([lat, lon], 15);

			leaflet
				.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					attribution:
						'© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
				})
				.addTo(map);

			leaflet.marker([lat, lon]).addTo(map).bindPopup('We are here!').openPopup();
		}
	});
</script>

<main>
	<div id="map" />
</main>

<style>
	@import 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';
	main #map {
		height: 600px;
	}

	@media (max-width: 768px) {
		main #map {
			height: 400px;
		}
	}
</style>
