<script lang='ts'>
	export let width: number;
</script>

{#if width > 0 && width < 100}
	<div class='fixed inset-0 h-2'>
		<div class='overflow-hidden h-2 text-xs flex bg-purple-200'>
			<div
				style='width: {width}%'
				class='
          shadow-none
          flex flex-col
          text-center
          whitespace-nowrap
          text-white
          justify-center
          bg-purple-500
          transition-all
        '
			/>
		</div>
	</div>
{/if}
