<header>
	<div class="navbar m-3 shadow-lg bg-neutral text-neutral-content rounded-box">
		<div class="flex-none px-2 mx-2 divided">
			<a href="/" class="text-lg font-bold btn btn-ghost rounded-btn"> Cinema </a>
		</div>
		<div class="flex-1 px-2 mx-2 divided">
			<div class="items-stretch">
				<a href="/films" class="btn btn-ghost rounded-btn divided"> Films </a>
				<div class="dropdown dropdown-hover text-black divided">
					<a href="/about" tabindex="0" class="m-1 btn">About</a> 
					<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
					  <li>
						<a href="/about/auditoriums">Our auditoriums</a>
					  </li> 
					  <li>
						<a href="/about/contacts">Contacts</a>
					  </li> 
					</ul>
				  </div>
			</div>
		</div>
	</div>
</header>

<style>
	.divided:not(:first-child)::before {
		content: " | ";
		color: white;
	}
</style>