<article class="text-center max-w-screen-md mx-auto">
	<h1 class="text-4xl font-bold">Auditoriums</h1>
	<p class="my-2">Our auditoriums are best in class. Our seats are so comfortable that you would not want
        want to leave after film has ended.
    </p>
	<img
        class="mx-auto"
		src="https://media.istockphoto.com/photos/empty-cinema-auditorium-picture-id181407382?k=20&m=181407382&s=170667a&w=0&h=ZKoEOUf1gpRL8qiJAJAdc4gVAFdw1oUVnsTS50sLocw="
        alt="Auditorium #1"
	/>
	<p class="my-2"> 
		Our IMAX screen is the size of the 5-story building. It is so huge that you will forget that you are watching film.
	</p>
	<img
        class="mx-auto"
		src="https://i.pinimg.com/736x/63/d5/45/63d5455da0fce1499db94f64a187bff5.jpg"
        alt="Auditorium #3 (IMAX)"
	/>
</article>
