<script>
	import LeafletMap from '../../components/LeafletMap.svelte';
</script>

<div class="text-center">
    <h1 class="text-4xl font-bold">Contacts</h1>
    <p>Email: abc@email.com</p>
    <p>Phone: +38(078)123-45-67</p>
</div>

<div class="text-center">
    <h1 class="text-4xl font-bold">Location</h1>
    <p>Luhova 12, Kyiv</p>
    <p>Buses 24, 102</p>
</div>

<LeafletMap lat={50.50421839256535} lon={30.472493493558893} />
