<script lang="ts" context="module">
	import type { Load } from '@sveltejs/kit';
	import type { Seat } from '../../models/show';

	export const load: Load = async ({ fetch, page }) => {
		loader.set(33);
		const rows = await get<Seat[][]>(fetch, `${page.params.id}.json`);
		loader.set(100);
		return {
			props: { rows, showId: parseInt(page.params.id) }
		};
	};
</script>

<script lang="ts">
	import OrderForm from '../../components/OrderForm.svelte';
	import SeatButton from '../../components/Show/SeatButton.svelte';
	import { loader } from '../../stores/loader';
	import { get } from '../../utils';
	import OrderTotal from '../../components/Order/OrderTotal.svelte';

	export let showId: number;
	export let rows: Seat[][];

	let selectedSeats: Seat[] = [];
	function onSeatSelect(isSelected: boolean, seat: Seat) {
		if (isSelected) {
			selectedSeats = [...selectedSeats, seat];
		} else {
			selectedSeats = selectedSeats.filter((s) => s !== seat);
		}
	}
</script>

<h2 class="text-3xl font-bold text-center">Select seats</h2>
<div class="flex flex-col justify-center px-2 overflow-x-auto">
	{#each rows as row, i}
		<div class="flex flex-nowrap h-8 my-4 mx-auto items-center">
			<div class="text-gray-400 font-bold text-lg mr-2">{i + 1}</div>
			{#each row as seat}
				<SeatButton seatInfo={seat} onSelect={onSeatSelect} />
			{/each}
		</div>
	{/each}
</div>

{#if selectedSeats.length > 0}
	<OrderTotal seats={selectedSeats} />
	<OrderForm {showId} seats={selectedSeats} />
{/if}
